option_settings: 
    aws:elasticbeanstalk:application:environment:
        MY_ENV_VAR: '{{resolve:ssm:test:1}}'
        PASSWORD: '{{resolve:ssm:PASSWORD:1}}'
        PORT: '{{resolve:ssm:PORT:1}}'
        POSTGRES_DB: '{{resolve:ssm:POSTGRES_DB:1}}'
        POSTGRES_HOST: '{{resolve:ssm:POSTGRES_HOST:1}}'
        POSTGRES_PASSWORD: '{{resolve:ssm:POSTGRES_PASSWORD:1}}'
        POSTGRES_PORT: '{{resolve:ssm:POSTGRES_PORT:1}}'
        POSTGRES_USER: '{{resolve:ssm:POSTGRES_USER:1}}'
        USERNAME: '{{resolve:ssm:USERNAME:1}}'
        DOMAIN_LINK: '{{resolve:ssm:DOMAIN_LINK:1}}'
        EMAIL_LINK: '{{resolve:ssm:EMAIL_LINK:1}}'
